<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>48278130525-dtf4hul4deq4oahf2396agg22llt0fmr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.48278130525-dtf4hul4deq4oahf2396agg22llt0fmr</string>
	<key>API_KEY</key>
	<string>AIzaSyBoQBxXBkKd0syDzwrzVll0woCT5TmV0CY</string>
	<key>GCM_SENDER_ID</key>
	<string>48278130525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.matrixrom.sherfitnessappprod</string>
	<key>PROJECT_ID</key>
	<string>sherfitness-4cf2a</string>
	<key>STORAGE_BUCKET</key>
	<string>sherfitness-4cf2a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:48278130525:ios:15b86eba28104769</string>
	<key>DATABASE_URL</key>
	<string>https://sherfitness-4cf2a.firebaseio.com</string>
</dict>
</plist>